<div id='plot_container'>
	<div class="row">
	  <div class="col-md-8">
	  	<strong>&nbsp;</strong>
	  	<div id='eqtls_plot_container'></div>
	  </div>
	  <div class="col-md-4">
	  	<strong>&nbsp;</strong>
	  	<div id='eqtl_plot_container'></div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-8">
	  	<strong>&nbsp;</strong>
	  	<div id='isoqtls_plot_container'></div>
	  </div>
	  <div class="col-md-4">
	  	<strong>&nbsp;</strong>
	  	<div id='ase_plot_container'></div>
	  </div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>The plots are interactive! You can pan or zoom with your mouse to traverse the genomic locus, and select SNPs to see detailed information on how the genotype at that locus impacts gene expression and allele-specific expression in the Sardinian population.
			  </div>
			</div>
		</div>
	</div>
</div>