{% extends "base_template.html" %}
{% block content %}
<div id="example_panel" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Examples to explore</h3>
  </div>
  <div class="panel-body">
    <ul>
	    <li><a href='javascript:searchExample("TNFRSF13C")'>B-cell activating factor (BAFF)</a></li>
	    <li><a href='javascript:searchExample("ARHGDIB")'>Rho GDP Dissociation Inhibitor (GDI) Beta (ARHGDIB)</a></li>
	    <li><a href='javascript:searchExample("CR1")'>Complement receptor 1 (CR1)</a></li>
    </ul>
  </div>
</div>
{% endblock %}
